<div class="login-form">
  <form [formGroup]="signupForm" (submit)="submit($event)">
    <div class="form-group">
      <label for="firstname">Firstname</label>
      <input
        type="text"
        autofocus
        [class]="validFirstname()"
        id="firstname"
        aria-describedby="emailHelp"
        formControlName="firstname"
        placeholder="Enter firstname"
      />
      <div class="invalid-feedback">{{ this.feedback.firstname }}</div>
    </div>
    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input
        type="text"
        [class]="validLastname()"
        id="lastname"
        aria-describedby="emailHelp"
        formControlName="lastname"
        placeholder="Enter lastname"
      />
      <div class="invalid-feedback">{{ this.feedback.lastname }}</div>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        [class]="validEmail()"
        id="email"
        aria-describedby="emailHelp"
        formControlName="email"
        placeholder="Enter email"
      />
      <div class="invalid-feedback">{{ this.feedback.email }}</div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        [class]="validPassword()"
        id="password"
        placeholder="Password"
      />
      <div class="invalid-feedback">{{ this.feedback.password }}</div>
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        [class]="validConfirmPassword()"
        id="confirm-password"
        placeholder="confirm password"
      />
      <div class="invalid-feedback">{{ this.feedback.confirmPassword }}</div>
    </div>

    <a href="#" [routerLink]="['', 'login']">Already have account</a>
    <button type="submit" class="btn btn-primary">Signup</button>
  </form>
</div>
