.product-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.product-outlet {
  border: 1px solid black;
  padding: 4px;
  width: 510px;
}

.product-outlet-carousel {
  position: sticky;
  top: 50px;
}

.product-outlet img {
  height: 400px;
  width: 500px;
}

.card {
  width: 500px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
}

.card-services {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-services i {
  font-size: 30px;
}

.card-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 5px;
}

.card a {
  text-decoration: none;
}

.card-purchases {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-purchase-count,
.card-add-to-cart {
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
}

.card-purchases i {
  margin: 0px 5px;
  font-size: 20px;
}

.card-offers {
  display: flex;
  flex-direction: column;
}

.card-offers-body {
  display: flex;
  flex-direction: row;
}
.card-offer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-offer-title {
  font-weight: 700;
}

.card-offers-footer {
  font-size: 14px;
  font-weight: 500;
}

.card-about-this-item {
  font-size: 14px;
}
