.card {
  width: 450px;
  height: 500px;
  margin: 5px 10px;
}
.card-img-top {
  width: 290px;
  height: 240px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-text a {
  text-decoration: none;
  color: inherit;
}
/**/
.card-text a:hover {
  color: blue;
}
