<div class="similar-items">
  <div class="similar-items-title">
    <h6>Similar items</h6>
  </div>
  <div class="similar-items-body">
    <div (click)="moveLeft()"><i class="bi bi-caret-left-square"></i></div>
    <div class="card" *ngFor="let item of displayItems">
      <img [src]="item.thumbnail" />
      <div class="card-body">
        <div>
          <h6 class="card-title">
            <a href="#" [routerLink]="['', 'product', item.id]">{{
              item.description.length > 70
                ? item.description
                : item.description.substring(0, 70) + "..."
            }}</a>
          </h6>
        </div>

        <p class="card-price">{{ item.price | currency }}</p>
        <div class="d-flex">
          <ngb-rating [rate]="item.rating" [readonly]="true" [max]="5" />
          <span style="padding-left: 5px">
            <a [routerLink]="['product', item.id]">
              {{ purchasedCount | number: "1.0-0" }}
            </a>
          </span>
        </div>
      </div>
    </div>
    <div (click)="moveRight()"><i class="bi bi-caret-right-square"></i></div>
  </div>
</div>
